@font-face {
  font-family: 'packagebot';
  src:  url('fonts/packagebot.eot?7ksz6m');
  src:  url('fonts/packagebot.eot?7ksz6m#iefix') format('embedded-opentype'),
    url('fonts/packagebot.ttf?7ksz6m') format('truetype'),
    url('fonts/packagebot.woff?7ksz6m') format('woff'),
    url('fonts/packagebot.svg?7ksz6m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'packagebot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-packagebot-zasilkovna:before {
  content: "\e900";
}
.icon-packagebot-czech-post:before {
  content: "\e901";
  color: #1f357a;
}
.icon-packagebot-ppl:before {
  content: "\e902";
}
